
    <%=render :partial=>'layouts/header'%>
    <%=render :partial=>'layouts/navbar'%>
    <%=render :partial=>'layouts/aside'%>
    <!-- Content Wrapper. Contains page content -->

      <!-- Content Header (Page header) -->
    <%=render :partial=>'layouts/h1'%>
    <!-- /.content-->
    <%= yield %>
    </div>

    <%=render :partial=>'layouts/footer'%>
